@model List<Task1ASP.Areas.Admin.Models.CheckModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var s in Model)
{
    if (s.Checked == false)
    {
        <label class="checkbox checkbox-inline">
            <input type="checkbox" name="names" value="@s.Tag.Text">@s.Tag.Text
        </label>
    }
    else
    {
        <label class="checkbox checkbox-inline">
            <input type="checkbox" name="names" checked="checked" value="@s.Tag.Text">@s.Tag.Text
        </label>
    }
}

