@model ICollection<Task1ASP.Areas.Admin.Models.CheckModel>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var s in Model)
{
	<label class="checkbox checkbox-inline">
		@if (s.Checked)
		{
			<input type="checkbox" name="names" checked="checked" value="@s.Tag.Text">@s.Tag.Text
		}
		else
		{
			<input type="checkbox" name="names" value="@s.Tag.Text">@s.Tag.Text
		}
	</label>
}
